@media (min-width: 970px) {

}

td {
    font-size: 14px;
}

path.line1 {
    stroke: #0057A0;
    stroke-width: 1;
    fill: none;
}

path.line2 {
    stroke: #CC0000;
    stroke-width: 1;
    fill: none;
}

path.line3 {
    stroke: #40A500;
    stroke-width: 1;
    fill: none;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis path, .y.axis path {
    fill: none;
    stroke: #999999;
}

.y.axis line, .x.axis line {
    fill: none;
    stroke: #aaa;
}

svg .pane {
    cursor: move;
}

button#reset-zoom {
    float: right;
    margin-right: 5%;
    background: transparent;

}

button:focus {
    outline: 0 !important;
}

tbody td, thead th {
    font-size: 12px;
}

tbody th {
    font-weight: 500;
}

.right {
    text-align: right;
}

.table > thead > tr > th {
    line-height: 1 !important;
}

.table-condensed > tbody > tr > td {
    vertical-align: middle;
    line-height: 1 !important;
    /*padding:0px;*/
}

.table {
    font-size: 12px;
}

svg {
    background-color: #ffffff;
}

.input-partial {
    text-align: right;
}

.input-partial input {
    padding-right: 16px;
    text-align: right;
}

.input-partial span {
    margin-left: -16px;
}

#divParameters input {
    max-width: 60px;
    display: inline-block;
    padding-left: 0;
}

td.right {
    vertical-align: middle;
}

td.right input {
    margin-right: -4px;
}

.table-nowrap th, .table-nowrap td {
    white-space: nowrap;
}